#divMain {
      width: 650px;
      height: 650px;
      background-color: darkslategrey;
      padding: 10px 0px 10px 10px;
      display: grid;
      grid-template-columns: 100px 100px 100px 100px 200px;
      grid-template-rows: 100px 100px 100px 100px 200px;
      grid-gap: 10px;
}

.col5 {
      grid-column-start : 5;
}