
.smallUp {
      grid-row-start : span 2;
}

.smallDown {
      grid-column-start : span 2;
      
}

.square {
      grid-column-start : span 2;
      grid-row-start : span 2;
}

.bigUp {
      grid-column-start : span 2;
      grid-row-start : span 3;
}


.yellow {
      background-color: yellow;
}

.grey {
      background-color: grey;
}

.red {
      background-color: red;
}

.white {
      background-color: white;
}

.blue {
      background-color: blue;
}

.black {
      background-color: black;
}

